body {
   
    background-color: #cccccc;
    background-size: fill;
    color:rgb(10, 85, 35)2, 79, 79);
    
   }
form {
    color:rgb(10, 22, 18);
    text-size-adjust: 20px;
}
input[type='text'] { font-size: 20px; }
   